:root {
  --blue: #6b70d8;
  --down-button-bg: #f05454;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  box-shadow: 0 2px 20px rgba(126, 146, 233, 0.407);
}
a {
  color: black;
  text-decoration: none;
}
.wd-body {
  background: url(./images/waves.png);
  background-size: 100vw 220vh;
  background-repeat: repeat;
}


/** Home **/

.hero-container {
  background: url(./images/waves.png);
  min-height: 95vh;
  background-size: 100vw 220vh;
  background-repeat: repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 20px;
}
.hero-image {
  width: 400px;
  margin-bottom: 30px;
}
.hero-image img {
  width: 100%;
  box-shadow: 0px 0px 0px var(--blue);
  border-radius: 50%;
}
.hero-text {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.hero-brandname {
  font-size: 20px;
  margin-bottom: 10px;
}
.hero-brandtag {
  font-size: 18px;
}
.hero-brand-message {
  font-size: 20px;
  margin: 20px 0;
}
.hero-down-box a:nth-child(1) {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background: #000;
  padding: 10px 20px;
  border-radius: 25px;
  width: 160px;
  text-align: center;
}
.hero-down-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

/** Downloads **/

.download-container {
  padding-top: 10px;
}
.down-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 20px;
  margin: 10px 5%;
  padding: 10px;
  background-image: linear-gradient(to right, var(--blue), rgba(176, 190, 227, 0.733));
  border-radius: 100px;
}
.down-item-text1 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 5px;
}
.down-item-text2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.down-item a {
  padding: 7px 15px;
  background: var(--down-button-bg);
  border-radius: 20px;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}

/** Footer **/

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-container img:nth-child(1) {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 40px;
}
